/build
/graph/graph-56-1d.png
/graph/graph-56-1h.png
/graph/graph-6d-1d.png
/graph/graph-6d-1h.png
/graph/graph-co2-1d.png
/graph/graph-co2-1h.png
/graph/graph-temp-1d.png
/graph/graph-temp-1h.png
/graph/graph.rrd

